<head>
    <meta charset="utf-8">
    <title>{{ title || "Sword Emporium" }}</title>
    <link rel="stylesheet" href="/resources/css/style.css">
</head>
<body>
  @include('partials/header')
  {{{ await $slots.main() }}}
  @include('partials/footer')
</body>
</html>
